<app-header (onNavigationChanged)="changeState($event)"></app-header>
<div class="container">
<div class="row"  *ngIf="currentState === 'recipe'">
    <div class="col-md-5 ">
       
         <app-recipe-list [recipes]="recipes"
                          (itemWasSelected)="selectedItem = $event"
        ></app-recipe-list>

    </div>
    <div class="col-md-7 ">
    <app-recipe-detail [recipe]="selectedItem" *ngIf="selectedItem; else defaultInfo"></app-recipe-detail>
        <ng-template #defaultInfo>
    
            <h2>Please select at least one recipe.</h2>
        </ng-template>
    </div>
</div>
<div class="row"  *ngIf="currentState !== 'recipe'">
    <div class="col-xs-12">
        <app-shopping-list 
                           (onIngredientAdded)="addIngredient($event)"
                           [ingredeints]="ingredeints"
                           (onReset)="resetShoppingList()"
        ></app-shopping-list>
    </div>
</div>
</div>

